<?xml version="1.0"?>
<humans>
<!-- MASTER MENU -->
<menu><id>A</id><s>0</s><t>s</t><i>fa fa-home</i><n>Home</n><l>../home/index.php</l></menu>
<!-- SETTING -->
<!--<menu><id></id><s>B</s><t>s</t><i>fa fa-user</i><n>Admin </n><l>../data_admin/index.php</l></menu>-->
<!--<menu><id></id><s>B</s><t>s</t><i>fa fa-book</i><n>Kategori </n><l>../data_kategori/index.php</l></menu>-->
<!--<menu><id></id><s>B</s><t>s</t><i>fa fa-qrcode</i><n>Menu Makanan </n><l>../data_menu_makanan/index.php</l></menu>-->
<!--<menu><id></id><s>B</s><t>s</t><i>fa fa-users</i><n>Pelayan </n><l>../data_pelanggan/index.php</l></menu>-->
<menu><id></id><s>B</s><t>s</t><i>fa fa-file</i><n>Pemesanan </n><l>../data_pemesanan/index.php</l></menu>
<!--<menu><id>C</id><s>0</s><t>m</t><i>fa fa-calendar</i><n>Laporan</n><l>#</l></menu>-->

<!-- MASTERDATA -->


<!-- LAPORAN -->
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Admin </n><l>../data_admin/index.php?input=cetak</l></menu>
<!--<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Detail Pemesanan </n><l>../data_detail_pemesanan/index.php?input=cetak</l></menu>-->
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Kategori </n><l>../data_kategori/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Menu Makanan </n><l>../data_menu_makanan/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Pelayan </n><l>../data_pelanggan/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Pemesanan </n><l>../data_pemesanan/index.php?input=cetak</l></menu>


</humans>
